<li>
<% id= review.movie_id %>
<% @movie= Movie.find_by_id(id) %>

<div class="content"><strong>Movie: </strong><%=  link_to @movie.name , @movie %></div>
 <div  class="content">Review: <%= raw(review.comment) %></div>
  <div class="timestamp">
    Posted <%= time_ago_in_words(review.created_at) %> ago.
  </div>


   <% if current_user == review.user %>
   <div class="content"> <%= link_to "delete", review_path(review), method: :delete, data: { confirm: "You sure?" }%></div>
  <% end %>
</li>