<li>
  <span class="content"><%= review.comment %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(review.created_at) %> ago.
  </span>


   <% if current_user == review.user %>
    <%= link_to "delete", review_path(review), method: :delete, data: { confirm: "You sure?" }%>
  <% end %>
</li>