<li>
<% id=review.user_id %>
<% user=User.find_by_id(id) %>
<div class="content"><strong>User: </strong><%= link_to user.name, user %></div>
  <div class="content"><strong>Comment: </strong><%= raw(review.comment) %></div>
  <div class="timestamp"><strong>Created: </strong>
    Posted <%= time_ago_in_words(review.created_at) %> ago.
  </div>
  <%  signed_in? && if current_user.admin?%>
   <div class="content"> <%= link_to "delete", review_path(review), method: :delete, data: { confirm: "You sure?" }%></div>
   <% end %>
 </li>